{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'display_cat' %}" method="post" class = "my-3">
        {%csrf_token%}
        <label for = "category"> Choose category </label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name = "catergory">
            {%for cat in categories%}
            <option value="{{ cat }}" {% if cat == selected %}selected{% endif %}>{{ cat }}</option>
            {%endfor%}
          </select>
          <button type="submit" class="btn btn-outline-primary">Choose</button>
    </form>


    <div class = "row mx-3">
        {%for list in listing%}
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="{{list.img_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{list.title}}</h5>
                    <h6 class = "card-title">${{list.price.bid}}<h6>
                    <p class="card-text">{{list.description}}</p>
                    <a href="{%url 'listing' id=list.id%}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock %}